*
{
   margin: 0px;
   padding: 0px;
   background-image: index.jpeg;

}

body {
	
	background-image: url(public/img/fondoLogin.jpg);
    background-repeat: no-repeat;
}



#formulario_regcdistro{
   
     width: 30%;
     margin: 50px auto 0px;
     color:white;
     background:#7e8e9e;
     text-align: center;
     border: 1px solid #B0C4DE;
     border-bottom: none;
     border-radius: 10px 10px 0px 0px;
     padding: 20px;

}

  







.header{


}


.title{

    color: blue;
}
